html {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #242424;
  color: #ffffff;
  margin-top: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #242424;
  padding: 0.625rem 0;
  border-bottom: 0.0625rem solid #3a3a3a;
  z-index: 1000;
}

.navigation {
  width: 2.25rem;
  height: 2.25rem;
  margin-right: 1.25rem;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0 1.25rem;
}

ul li {
  display: flex;
  align-items: center;
}

ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.125rem;
}

.signout:hover {
  cursor: pointer;
  color: #578cf5;
  transition: all 0.2s;
}

.search {
  width: 18.75rem;
  height: 2.25rem;
  padding-left: 0.625rem; 
  margin-bottom: 1rem;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  background-color: #242424;
  border: 0.0625rem solid #3a3a3a;
  color: white;
}

.search::placeholder {
  color: #a4a5a6;
}

.search:focus {
  outline: none;
  border: 0.0625rem solid #578cf5;
}

.search:hover {
  background-color: #272727;
  transition: all 0.7s;
}

.location {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.125rem;
  margin-left: 1.25rem;
}

.services {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.25rem;
  padding: 1.25rem;
  text-align: center;
}

.services figure {
  margin: 0;
}

.services img {
  width: 50%;
  border-radius: 0.5rem;
}

.services figcaption {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: white;
}

.star {
  color: gold;
  font-size: 1.125rem;
  margin: 0 0.125rem;
}
